// This file is actually just straight CSS

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'museo_slab_500regular';
  src: url('/fonts/museo_slab_500-webfont.eot');
  src: url('/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/museo_slab_500-webfont.woff') format('woff'),
  url('/fonts/museo_slab_500-webfont.ttf') format('truetype'),
  url('/fonts/museo_slab_500-webfont.svg#museo_slab_500regular') format('svg');
}

/* box-sizing: border-box */
/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
.build-header,
.build-header .explanation-wrapper,
.build-header .explanation,
.build-header .rebuild-links-wrapper,
.build-header .rebuild-links,
.build-header .posts,
.build-header .deliverables,
.date-list li,
.build-header .site-links {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.build-header {
  float: left;
  max-height: 93em;
  width: 100%;
  font-weight: bold;
  font-size: 1em;
  font-family: "proxima-nova-1", "proxima-nova-2", Helvetica, sans-serif;
  opacity: 100;
}

.build-header .heading {
  margin: 0;
  padding: 30px 0;
  background-color: #e9fcfe;
  color: #3f3d3d;
  text-align: center;
  font-size: 1.1em;

  -webkit-transition: padding 0.25s;
  -moz-transition: padding 0.25s;
  -o-transition: padding 0.25s;
  transition: padding 0.25s;
}
.build-header .heading a {
  position: relative;
  color: #265e67;
  text-decoration: none;
  border-bottom: 1px solid #265e67;
}

.build-header .heading a.build-reveal {
  display: inline-block;
  margin-right: 1.6em;
}

.build-header .heading a.build-reveal:after {
  position: absolute; /* prevent underline */
  margin-top: 0.2em;
  margin-left: 0.3em;
  content: "\25B2"; /* up arrow */
  font-size: 0.8em;
}

.js .bh-collapsed .heading {
  padding: 5px; /* smaller when collapsed */
}

.build-header .build-body {
  /* revealed body */
  overflow: hidden;
  max-height: 100em; /* this is a generous size that we should never reach */

  /* slide transition done by trasitioning max-height */
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.js .build-header.bh-collapsed .build-body {
  /* collapsed body */
  /* display: none; */
  max-height: 0;

  /* transition a little faster when closing */
  -webkit-transition: max-height 0.25s;
  -moz-transition: max-height 0.25s;
  -o-transition: max-height 0.25s;
  transition: max-height 0.25s;
}
.lt-ie9 .build-header.bh-collapsed .build-body {
  display: none;
}

.js .build-header.bh-collapsed .heading a.build-reveal:after {
  content: "\25BC"; /* down arrow */
}

.build-header .explanation-wrapper {
  float: left;
  overflow: hidden;
  width: 100%;
  background-color: #9debf4;
}

/* 1-column .explanation */

.build-header .explanation {
  position: relative;
  margin: 0 auto;
  padding: 10px 30px 30px 30px;
  max-width: 960px;
  color: #265e67;
}
.build-header .sb-logo { /* small logo */
  margin: 0 auto 1em auto;
  width: 2.733em;
  height: 3em;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.svg .build-header .sb-logo { /* small logo - svg */
  background-image: url(/i/sb-logo.svg);
}
.no-svg .build-header .sb-logo,
.no-js .build-header .sb-logo { /* small logo - png */
  background-image: url(/i/sb-logo-small.png);
}

.build-header .explanation {
}
.build-header .explanation a {
  color: #265e67;
  text-decoration: underline;
}
.build-header .explanation p {
  line-height: 2;
  font-family: 'museo_slab_500regular', Helvetica, sans-serif;
  font-weight: 500;
  margin: 0;
}

.build-header .rebuild-links-wrapper {
  float: left;
  width: 100%;
  background-color: #c8f8fe;
}
.build-header .rebuild-links {
  margin: 0 auto;
  max-width: 960px;
  padding: 30px;
}
.build-header .rebuild-links h2 {
  margin: 0 0 15px;
  color: #265e67;
  font-size: 1em;
}
.build-header .date-list {
  margin: 0 0 15px;
  padding: 0;
  list-style: none;
}
.date-list li {
  display: table;
  margin-bottom: 9px;
  width: 100%;
}
.build-header .dl-when {
  display: table-cell;
  padding: 10px;
  width: 6em;
  background-color: #6bc6d2;
  color: #cbf8ff;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}
.build-header .dl-what {
  display: table-cell;
  padding: 10px;
  background-color: #9debf4;
}
.build-header a.dl-what {
  color: #265e67;
  text-decoration: underline;
}
.build-header .dl-upcoming .dl-what {
  color: #73c5d3;
}

.build-header .site-links {
  float: left;
  padding: 30px 0;
  width: 100%;
  background-color: #9debf4;
  text-align: center;
}
.build-header .site-links .external-link {
  display: inline-block;
  margin: 9px;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: #1f5e66;
  color: #9eebf4;
  text-decoration: none;
}
.build-header .site-links .external-link:after {
  display: inline-block;
  margin-left: 1em;
  width: 20px;
  height: 17px;
  background-image: url(/i/external-arrow.png);
  background-repeat: no-repeat;
  content: "\0000a0";
}

/* media queries */

/* type sizes */

@media ( min-height: 40em ) {
  .js .build-header .heading,
  .no-js .build-header .heading {
    font-size: 1.3em;
    padding: 30px 0;
  }
  .build-header .rebuild-links h2 {
    font-size: 1.3em;
  }
}

/* 2-column .explanation */
/* 2-column .posts and .deliverables */

@media ( min-width: 43em ) {
  .build-header .explanation {
    padding: 30px 175px 30px 30px;
    min-height: 170px;
  }
  .build-header .explanation-wrapper {
  }
  .build-header .sb-logo { /* large logo */
    position: absolute;
    top: 50%;
    right: 30px;
    float: right;
    margin-top: -67px;
    width: 123px;
    height: 136px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* svg image still being applied */
  }

  .no-svg .build-header .sb-logo,
  .no-js .build-header .sb-logo { /* large logo, mq support - png */
    background-image: url(/i/sb-logo.png);
  }

  .build-header .posts, .build-header .deliverables {
    float: left;
    width: 50%;
    padding-bottom: 30px;
  }
  .build-header .posts {
    padding-right: 9px;
  }
  .build-header .deliverables {
    padding-left: 9px;
  }
}

/* largest styles for no-mq IE */

/* 2-column .explanation */

.lt-ie9 .build-header .explanation {
  padding: 30px 175px 30px 30px;
  min-height: 170px;
}
.lt-ie9 .build-header .sb-logo { /* large logo, no mq support */
  position: absolute;
  top: 80px;
  right: 30px;
  float: right;
  margin-top: -67px;
  width: 123px;
  height: 136px;
  background-image: url(/i/sb-logo.png);
  background-repeat: no-repeat;
}

.lt-ie9 .build-header .posts, .lt-ie9 .build-header .deliverables {
  float: left;
  width: 50%;
}

.lt-ie9 .build-header .build-header .date-list {
  display: block;
}
.lt-ie9 .build-header .build-header .dl-when {
  display: block;
}
.lt-ie9 .build-header .build-header .dl-what {
  display: block;
}
