// COLOR PALETTE
$primary: #50b7c8;
$secondary: #252525;
$neutral: #265e67;
$secondary1: #a3eaf5;
$secondary2: #F0592B;
$secondary3: #3f3d3d;
$highlight: #F0592B;

// FONT STACKS
$helvetica: "'Helvetica Neue', Helvetica, Arial, sans-serif";
$georgia: Georgia, Times, serif;

// LENGTHS
$page-width: 100%;
$page-width-fallback: 960px;
$padding: 2em;
$swatch-margin: 1%;

// OTHER
$num-colors: 3;
